@import './variables';
@import './mixins';
/* You can add global styles to this file, and also import other style files */

/* Angular material theme */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Palanquin font-style */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0 10px;
    min-height: calc(100vh + 400px);

    .d3-tip {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #efefef;
        border-radius: 2px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
        display: inline;
        width: 100%;
        box-sizing: border-box;
        font-size: 10px;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
    }
      
    /* Style northward tooltips differently */
    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
    }
}
