@import './variables';
@import './mixins';
/* You can add global styles to this file, and also import other style files */

/* Angular material theme */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Palanquin font-style */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0 10px;
    min-height: calc(100vh + 400px);

    .d3-tip {
        line-height: 1;
        padding: 12px;
        border-radius: 2px;
        color: #fff;
        background: rgba(0, 0, 0, 0.8);
    }

    .d3-tip:after {
        display: inline;
        top: 100%;
        left: 0;
        width: 100%;
        margin: -1px 0 0 0;
        box-sizing: border-box;
        font-size: 10px;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
    }
}
