:host {
    // display: block;
    // height: 100vh;
    // width: 100%;

    .legend {
        max-width: 500px;

        .legend--title {
            font-weight: bold;
            font-size: 20px;
        }

        .password-length--icons {
            width: 300px;

            .divider {
                width: 100%;
                height: 1px;
                border-bottom: black 1px solid;
            }
        }

        .legend--password-diversity {
            margin-top: 24px;

            .diversity--colors {
                margin: 0 12px 0 24px;

                & > * {
                    width: 55px;
                    height: 24px;
                }

                .first { background-color: #d40000; }
                .second { background-color: #ff6600; }
                .third { background-color: #ff8c1a; }
                .fourth { background-color: #ffcc00; }
                .fifth { background-color: #339900; }
            }
        }
    }

    .component {
        height: 100%;
    }
    
    .form-region {
        margin-left: 40px;
        height: 110px;
    
        .password-form {
            width: 300px;
    
            .mat-form-field {
                width: 100%;
            }
        }
    
        .time-container {
            // width: 300px;
    
            .time {
                font-weight: bolder;
            }
        }
    }
}
