<div class="component" fxLayout="row" fxLayoutAlign="center center">
    <pp-shield-icon [fillPercentage]="shieldFillPercentage" [fillColor]="shieldColor">
    </pp-shield-icon>
    <div class="form-region">
        <form class="password-form" [formGroup]="formGroup">
            <mat-form-field>
                <input  matInput
                        maxlength="52"
                        type="text"
                        placeholder="Entrez votre mot de passe"
                        autocomplete="off"
                        formControlName="search"/>
            </mat-form-field>
        </form>
        <div class="time-container" *ngIf="crackingTime !== ''">Vottre mot de passe prend <span class="time">{{ crackingTime }}</span> à cracker</div>
    </div>
</div>
<div>{{ searchResult$ | async }}</div>
