<div class="component">
    <div class="descriptive-text-region">
        <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit eget nisi eu malesuada.
            Duis tellus elit, feugiat ac sodales ac, dictum pharetra ex.
            Ut a urna lobortis tellus molestie congue vel vitae ex.
            Integer vehicula lobortis congue. Quisque ut velit ipsum.
            Pellentesque lobortis ex varius, suscipit ipsum et, pretium tortor.
            Duis interdum ultrices molestie. Nulla diam nisi, lobortis ut nulla id,
            semper dapibus nunc. Sed porta lacinia ligula quis placerat. Maecenas eget malesuada mi, eu suscipit mi.
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <div class="legend">
            <span class="legend--title">Légende</span>
            <div class="legend--password-length" fxLayout="row" fxLayoutAlign="space-between center">
                <span>Longueur du mot de passe</span>
                <div class="password-length--icons" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <pp-shield-icon [id]="'empty'" [fillPercentage]="0" [fillColor]="-1"></pp-shield-icon>
                        <span>Court</span>
                    </div>
                    <div class="divider"></div>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <pp-shield-icon [id]="'full'" [fillPercentage]="1" [fillColor]="-1"></pp-shield-icon>
                        <span>Long</span>
                    </div>
                </div>
            </div>
            <div class="legend--password-diversity" fxLayout="row" fxLayoutAlign="space-between center">
                <span>Diversité</span>
                <div class="diversity--colors" fxLayout="row" fxLayoutAlign="center center">
                    <div class="first"></div><div class="second"></div><div class="third"></div><div class="fourth"></div><div class="fifth"></div>
                </div>
            </div>
        </div>
        <div class="input-shield-region" fxLayout="row" fxLayoutAlign="center center">
            <pp-shield-icon [id]="'dynamic'" [fillPercentage]="shieldFillPercentage" [fillColor]="shieldColor">
            </pp-shield-icon>
            <div class="form-region">
                <form class="password-form" [formGroup]="formGroup">
                    <mat-form-field>
                        <input  matInput
                                maxlength="52"
                                type="text"
                                placeholder="Entrez votre mot de passe"
                                autocomplete="off"
                                formControlName="search"/>
                    </mat-form-field>
                </form>
                <div class="time-container" *ngIf="crackingTime !== ''">Vottre mot de passe prend <span class="time">{{ crackingTime }}</span> à cracker</div>
            </div>
        </div>
    </div>
        <div class="results-container mat-elevation-z8">
            <div class="results-loading-shade"
                *ngIf="isLoadingResults || hasNoResults || hasEncounteredError">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <div class="results-error" *ngIf="hasNoResults">
                Auncun résultats n'a été trouvé dans notre base de données.
            </div>
            <div class="results-error" *ngIf="hasEncounteredError">
                La recherche a rencontré une erreur. Veuillez réessayer dans quelques instants.
            </div>
            </div>
        
            <div class="results-table-container">
        
            <table mat-table [dataSource]="searchResult$ | async" class="results-table">
                <!-- Username Column -->
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> Nom d'usager </th>
                    <td mat-cell *matCellDef="let element" >
                        {{ element.username }}
                    </td>
                </ng-container>
            
                <!-- Password Column -->
                <ng-container matColumnDef="password">
                    <th mat-header-cell *matHeaderCellDef> Mot de passe </th>
                    <td mat-cell *matCellDef="let element" >
                        {{ element.password }}
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            </div>
        </div>
</div>
