<div class="legend">
    <span class="legend--title">Légende</span>
    <div class="legend--password-length" fxLayout="row" fxLayoutAlign="space-between center">
        <span>Longueur du mot de passe</span>
        <div class="password-length--icons" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="center center">
                <pp-shield-icon [id]="'empty'" [fillPercentage]="0" [fillColor]="-1"></pp-shield-icon>
                <span>Court</span>
            </div>
            <div class="divider"></div>
            <div fxLayout="column" fxLayoutAlign="center center">
                <pp-shield-icon [id]="'full'" [fillPercentage]="1" [fillColor]="-1"></pp-shield-icon>
                <span>Long</span>
            </div>
        </div>
    </div>
    <div class="legend--password-diversity" fxLayout="row" fxLayoutAlign="space-between center">
        <span>Diversité</span>
        <div class="diversity--colors" fxLayout="row" fxLayoutAlign="center center">
            <div class="first"></div><div class="second"></div><div class="third"></div><div class="fourth"></div><div class="fifth"></div>
        </div>
    </div>
</div>
<div class="component" fxLayout="row" fxLayoutAlign="center center">
    <pp-shield-icon [id]="'dynamic'" [fillPercentage]="shieldFillPercentage" [fillColor]="shieldColor">
    </pp-shield-icon>
    <div class="form-region">
        <form class="password-form" [formGroup]="formGroup">
            <mat-form-field>
                <input  matInput
                        maxlength="52"
                        type="text"
                        placeholder="Entrez votre mot de passe"
                        autocomplete="off"
                        formControlName="search"/>
            </mat-form-field>
        </form>
        <div class="time-container" *ngIf="crackingTime !== ''">Vottre mot de passe prend <span class="time">{{ crackingTime }}</span> à cracker</div>
    </div>
</div>
<div>{{ searchResult$ | async }}</div>
