<div class="component">
    <div class="descriptive-text-region">
        <div class="text">
            <h3>Longueur des mots de passes</h3>
            <p>
                À partir d'une longueur de 8 caractères, plus la longueur augmente, moins les mots de passe sont nombreux.
                Sous forme de Bar-chart, sur l'axe des x nous avons les différentes longueurs, où nous avons
                décidé d'exclure la longueur 1, 2 et 3 puisque leurs valeurs ne sont pas significatives
                comparativement aux autres longueurs. Aussi, nous avons décidé de regrouper les longueurs allant de 17 a 42.
            </p>
            <p>
                <span class="subtitle">Fonctionnement :</span><br/>
                Sur l'axe des y nous avons le nombre de fois que la longueur a été utilisée dans les 10 000 000
                de mots de passe. Au survol sur chaque barre, le nombre d'utilisation précis est affiché
                sous forme de tool-tip.
            </p>
        </div>
    </div>
    <div class="component-content" fxLayout="row" fxLayoutAlign="center center">
        <div #barchart></div>
    </div>
</div>
