:host ::ng-deep {
    .highlight {
        text-anchor: middle;
        font-size: 16px;
        pointer-events: none;
    }
    
    .axisTitle {
        font-size: 16px;
        font-weight: bold;
    }
    
    .legend {
        pointer-events: none;
    }
    
    path {
        pointer-events: none;
    }
}
