<div class="component">
    <div class="descriptive-text-region">
        <div class="text">
            <h3>Temps pour décoder</h3>
            <p>
                10,000,000 mots de passes... Toutefois, combien d'entre eux sont résistants aux attaques de malfaiteurs ?
                Cette visualisation expose un problème majeur quant à la sécurité des mots de passes employés par la forte majorité des utilisateurs.
                Plus de 95% des mots de passe traités ici sont déchiffrables en moins de 8 minutes !
            </p>
            <p>
                <span class="subtitle">Fonctionnement :</span><br/>
                Observez la courbe cumulative du pourcentage des 1,000,000 mots de passe déchiffrés en fonction du temp.
                Observez la courbe de densité correspondant au pourcentage des 1,000,000 déchiffrés au temps x.
                Survolez le graphique avec la souris pour obtenir davantage d'information au temps x.
            </p>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div #linechart></div>
    </div>
</div>
