:host ::ng-deep {
    display: block;
    position: relative;

    .example-container {
        height: 400px;
        overflow: auto;
    }

    tr.mat-row {
        .mat-cell-text-centered {
            text-align: center;
        }

        &.selected {
            td.mat-cell {
                border-top: 2px #FF6F00 solid;
                border-bottom: 2px #FF6F00 solid;

                &:first-of-type {
                    border-left: 2px #FF6F00 solid;
                }

                &:last-of-type {
                    border-right: 2px #FF6F00 solid;
                }
            }
        }
    }

    th.mat-header-cell, td.mat-cell {
        &:last-of-type {
            padding-right: 0;
        }
    }

    .search-region {
        min-width: 290px;
        min-height: 120px;

        .mat-form-field {
            width: 200px;
        }

        span {
            text-align: center;
        }
    }
}
