<div fxLayout="row" fxLayoutAlign="center center">
    <div #bubbleChart>
    </div>

    <div fxLayout="column" class="search-region">
        <form [formGroup]="formGroup">
            <mat-form-field>
                <input  matInput
                        type="text"
                        placeholder="Êtes-vous égocentrique?"
                        autocomplete="off"
                        formControlName="search"/>
            </mat-form-field>
        </form>

        <span [innerHTML]="searchResult$ | async"></span>
    </div>
</div>
