:host ::ng-deep {
    display: block;
    position: relative;

    .example-container {
        height: 400px;
        overflow: auto;
    }

    .mat-cell-text-centered {
        text-align: center;
    }

    th.mat-header-cell, td.mat-cell {
        &:last-of-type {
            padding-right: 0;
        }
    }

    .search-region {
        min-width: 290px;
        min-height: 120px;
        margin-left: 40px;
    }

    .tooltip {
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        width: 200px;
        min-height: 110px;
        padding: 12px;
        font-size: 14px;
        background: black;
        color: white;
        border-radius: 8px;
        pointer-events: none;
        top: 100px;
        left: 10px;
    }
}
