<div fxLayout="row" fxLayoutAlign="center center">
    <div #table class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
        
            <!-- Username Column -->
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Occurrence dans le nom d'usager </th>
                <td mat-cell *matCellDef="let element"> {{getFormattedNumber(element.username)}} </td>
            </ng-container>
        
            <!-- Password Column -->
            <ng-container matColumnDef="password">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Occurrence dans le mot de passe </th>
                <td mat-cell *matCellDef="let element"> {{getFormattedNumber(element.password)}} </td>
            </ng-container>
        
            <!-- Both Column -->
            <ng-container matColumnDef="egocentric">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Indice d'égocentrisme </th>
                <td mat-cell *matCellDef="let element"
                    [style.backgroundColor]="getBgColor(element.egocentric)"
                    [style.color]="getColor(element.egocentric)"> {{getFormattedPercent(element.egocentric)}} </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div fxLayout="column" class="search-region">
        <form [formGroup]="formGroup">
            <mat-form-field>
                <input  matInput
                        type="text"
                        placeholder="Êtes-vous égocentrique?"
                        autocomplete="off"
                        formControlName="search"/>
            </mat-form-field>
        </form>

        <span [innerHTML]="searchResult$ | async"></span>
    </div>
</div>
