<div class="component">
    <div class="descriptive-text-region">
        <div class="text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit eget nisi eu malesuada.
                Duis tellus elit, feugiat ac sodales ac, dictum pharetra ex.
                Ut a urna lobortis tellus molestie congue vel vitae ex.
            </p>
            <p>
                Fonctionnement: <br/>
                Integer vehicula lobortis congue. Quisque ut velit ipsum.
                Pellentesque lobortis ex varius, suscipit ipsum et, pretium tortor.
                Duis interdum ultrices molestie. Nulla diam nisi, lobortis ut nulla id,
                semper dapibus nunc. Sed porta lacinia ligula quis placerat. Maecenas eget malesuada mi, eu suscipit mi.
            </p>
        </div>
    </div>
    <div class="component-content" fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
            <div #table class="example-container mat-elevation-z8">
                <table mat-table matSort [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> position </th>
                        <td mat-cell *matCellDef="let element"> {{ element.position }} </td>
                    </ng-container>
            
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
                        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                    </ng-container>
                
                    <!-- Username Column -->
                    <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Occurrence dans le nom d'usager </th>
                        <td mat-cell *matCellDef="let element" class="mat-cell-text-centered"
                            [style.backgroundColor]="getBgColor('username', element.username)"
                            [style.color]="getColor('username', element.username)">
                            {{ getFormattedNumber(element.username) }}
                        </td>
                    </ng-container>
                
                    <!-- Password Column -->
                    <ng-container matColumnDef="password">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Occurrence dans le mot de passe </th>
                        <td mat-cell *matCellDef="let element" class="mat-cell-text-centered"
                            [style.backgroundColor]="getBgColor('password', element.password)"
                            [style.color]="getColor('password', element.password)">
                            {{ getFormattedNumber(element.password) }}
                        </td>
                    </ng-container>

                    <!-- Both Column -->
                    <ng-container matColumnDef="both">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Occurrence dans les deux </th>
                        <td mat-cell *matCellDef="let element" class="mat-cell-text-centered">
                            {{ getFormattedNumber(element.both) }}
                        </td>
                    </ng-container>
                
                    <!-- Egocentric Column -->
                    <ng-container matColumnDef="egocentric">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Indice d'égocentrisme </th>
                        <td mat-cell *matCellDef="let element" class="mat-cell-text-centered"
                            [style.backgroundColor]="getBgColor('egocentric', element.egocentric)"
                            [style.color]="getColor('egocentric', element.egocentric)">
                            {{ getFormattedPercent(element.egocentric) }}
                        </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        [ngClass]="{ 'selected': selection.isSelected(row)}"
                        (click)="selection.select(row)">
                    </tr>
                </table>
            </div>

            <div fxLayout="column" class="search-region">
                <form [formGroup]="formGroup">
                    <mat-form-field>
                        <input  matInput
                                type="text"
                                placeholder="Êtes-vous égocentrique?"
                                autocomplete="off"
                                formControlName="search"/>
                    </mat-form-field>
                </form>

                <span [innerHTML]="searchResult$ | async"></span>
            </div>
        </div>
    </div>
</div>
