:host ::ng-deep {
    #treemap {
        max-width: 100%;
        overflow:auto;
    }
    h2 { 
        font-family: "Open Sans",Helvetica,Arial,sans-serif;
    }
    .container {
        margin-left: 15%;
    }
    text {
        pointer-events: none;
    }
    .grandparent text {
        font-weight: bold;
        font-family: "Open Sans",Helvetica,Arial,sans-serif;
    }
    rect {
        stroke: #fff;
        stroke-width: 1px;
    }
    rect.parent,
    .grandparent rect {
        stroke-width: 1px;
    }
    .grandparent:hover rect {
        opacity: 0.5;
    }
    .children rect.parent,
	.grandparent rect {
	  cursor: pointer;
	}
	.children rect.child {
	  opacity: 0;
	}
	.children:hover rect.child {
	  opacity: 1;
	  stroke-width: 1px;
    }
    g.hoverable:hover rect.parent {
        visibility: hidden;
    }
    g.hoverable:hover foreignObject.foreignobj{
        visibility: hidden;
    }
    g.hoverable rect.child:hover {
        opacity: 0.6;
    }
    g.children:hover rect.parent {
        opacity: 0;
    }
    .legend {
        margin-bottom:8px !important;
    }
    .legend rect {
        stroke-width: 0px;
    }
    .legend text {
        text-anchor: middle;
        pointer-events: auto;
        font-size: 13px;
        font-family: sans-serif;
        fill: black;
    }
    .form-group {
        text-align:left;
    }
    .textdiv {
        font-family: "Open Sans",Helvetica,Arial,sans-serif;
        font-size: 14px;
        padding: 3px 3px 2px 5px;
        cursor: pointer;
        overflow:none;
    }
    .textdiv .title {
        font-size: 102%;
        font-weight: bold;
        margin-top: 8px;
        font-size:9px !important;
        color: #fff;
    }
    .textdiv p{
        line-height: 13px;
        margin:0 0 4px !important;
        padding:0px;
        font-size:10px !important;
        color: #fff;
        overflow-wrap: break-word;
    }
    .textdiv .number{
        white-space: nowrap;
    }
    /***** SVG *****/
    .axis {
        shape-rendering: crispEdges
    }
    
    .axis line {
        display: none;
    }
    
    .axis path {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }
    
    .y.axis path {
        fill: none;
        stroke: black;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
    
    .label {
        font-size: 10px;
    }      

    .tooltip {
        position: absolute;
        text-align: center;
        width: 75px;
        height: 35px;
        padding: 2px;
        font: 10px sans-serif;
        background: #fff;
        border: 1px solid black;
        pointer-events: none;
      }
    
    .tooltip p{
        margin: 0px;
        padding: 2px;
    }

    .tooltip .name {
        font-size: 12px;
        font-weight: bold;
    }

    .notext:hover {
        opacity: 0.6;
    }
}
