<div class="component">
  <div class="descriptive-text-region">
      <div class="text">
          <h3>Signification des mots employés</h3>
          <p>
              Les dernières visualisations ont permises d'en apprendre un peu plus sur la structure des mots de passes. 
              Toutefois, qu'en est-il de la nature des mots employés à l'intérieur de ceux-ci ?
              Dans cette visualisation nous présentons la signification des chaînes de caractères retrouvées dans les 10 millions de mots de passes.
              Afin de simplifier les données, nous nous sommes limités au 100 mots les plus populaires par catégories.
          </p>
          <p>
              <span class="subtitle">Fonctionnement :</span><br/>
              Cliquez sur les catégories afin de naviger dans la visualisation.
              Observez les 5 mots les plus populaires de chaque niveau du treemap avec le diagramme à barre à droite.
          </p>
      </div>
  </div>
  <div class="component-content" fxLayout="row" fxLayoutAlign="center center">
    <!-- <h2>Signification des chaînes de caractères utilisées des les 1,000,000 mots de passe (top 100 par catégories)</h2> -->
    <div id="treemapDiv">
      <svg id="treemapSvg">
        <g #treemap id="treemap"></g>
        <g #barChart id="bar-chart"></g>
      </svg>
    </div>
  </div>
</div>
