<div #firstChart class="component">
    <div class="descriptive-text-region">
        <div class="text">
            <h3>Caractères les plus utilisés</h3>
            <p>
                Quelles sont les lettres les plus utilisées ? Quels sont les chiffres les plus utilisés ?
                Quels caractères spéciaux reviennent les plus souvent ? Trois cartes de chaleur dont les lettres et les chiffres
                sont sous la forme d'un clavier standard américain.
                La carte des caractères spéciaux n'a pas de format spécifique.
            </p>
            <p>
                <span class="subtitle">Fonctionnement :</span><br/>
                Au survol de la souris sur chaque caractère, le nombre d'occurrences apparaît.
                En légende, nous avons l'intervalle du nombre d'utilisations sur lequel se base chaque carte de chaleur.
            </p>
        </div>
    </div>
    <div class="component-content" fxLayout="col" fxLayoutAlign="center center">
        <div #heatmap></div>
    </div>
</div>
