<div class="component" [style.height.%]="100">
    <div class="descriptive-text-region">
        <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit eget nisi eu malesuada.
            Duis tellus elit, feugiat ac sodales ac, dictum pharetra ex.
            Ut a urna lobortis tellus molestie congue vel vitae ex.
            Integer vehicula lobortis congue. Quisque ut velit ipsum.
            Pellentesque lobortis ex varius, suscipit ipsum et, pretium tortor.
            Duis interdum ultrices molestie. Nulla diam nisi, lobortis ut nulla id,
            semper dapibus nunc. Sed porta lacinia ligula quis placerat. Maecenas eget malesuada mi, eu suscipit mi.
        </div>
    </div>
    <div class="component-content" fxLayout="row" fxLayoutAlign="center center" [style.height.%]="100">
        <div #heatmap></div>
    </div>
</div>
