<div class="component">
    <div class="descriptive-text-region">
        <div class="text">
            <h3>Encore des dates</h3>
            <p>
                Les 10 000 000 de mots de passes contiennent-ils des dates?
                En excluant les années, nous nous sommes intéressés uniquement aux jours et mois
                pour créer une carte de chaleur sur 366 jours (incluant le le 29 février).
            </p>
            <p>
                <span class="subtitle">Fonctionnement :</span><br/>
                Au survol de la souris, nous faisons ressortir les occurrences d'utilisation de chaque date.
            </p>
        </div>
    </div>
    <div class="component-content" fxLayout="row" fxLayoutAlign="center center">
        <div #heatmap></div>
    </div>
</div>
