<pp-top-page></pp-top-page>
<pp-keyboard-occurrences-heatmap
    *ngIf="keyboardOccurrencesHeatmapData$ | async as keyboardOccurrencesHeatmapData"
    [data]="keyboardOccurrencesHeatmapData">
</pp-keyboard-occurrences-heatmap>
<pp-keyboard-combinations-heatmap 
    *ngIf="keyboardCombinationsHeatmapData$ | async as keyboardCombinationsHeatmapData"
    [data]="keyboardCombinationsHeatmapData">
</pp-keyboard-combinations-heatmap>
<pp-calendar-heatmap
    *ngIf="calendarHeatmapData$ | async as calendarHeatmapData"
    [data]="calendarHeatmapData">
</pp-calendar-heatmap>
<pp-one-year-heatmap
    *ngIf="oneYearCalendarHeatmapData$ | async as oneYearCalendarHeatmapData"
    [data]="oneYearCalendarHeatmapData">
</pp-one-year-heatmap>
<pp-password-treemap
    *ngIf="passwordTreemapData$ | async as passwordTreemapData"
    [data]="passwordTreemapData">
</pp-password-treemap>
<pp-password-nouns-chart
    *ngIf="passwordNounsChartData$ | async as passwordNounsChartData"
    [data]="passwordNounsChartData">
</pp-password-nouns-chart>
<pp-diversity-donut
    *ngIf="disersityDonutData$ | async as disersityDonutData"
    [data]="disersityDonutData">
</pp-diversity-donut>
<pp-password-cracking-heatmap
    *ngIf="passwordCrackingHeatmapData$ | async as passwordCrackingHeatmap"
    [data]="passwordCrackingHeatmap">
</pp-password-cracking-heatmap>
<pp-custom-password>
</pp-custom-password>
