<div class="component">
    <div class="descriptive-text-region">
        <div class="text">
            <p>
                Nous examinons avec cette viz la variété de caractères utilisée dans les mots de passe. 
                Il s'agit en effet d'un élément déterminant de son score de sécurité. 
                En particulier, nous nous intéressons aux différentes combinaisons d'alphabets, définies comme minuscules, majuscules, 
                chiffres et caractères spéciaux.  
            </p>
            <p>
                Fonctionnement: <br/>
                Les alphabets sont codés respectivement par a, A, 7 et $. 
                Survolez une section du donut donut ou de la légende pour faire apparaitre les statistiques correspondantes
                Cliquez pour entrer ou sortir d'une catégorie.
            </p>
        </div>
    </div>
    <div class="component-content" fxLayout="row" fxLayoutAlign="center center">
        <div #donut></div>
    </div>
</div>
